<!-- <h1> Page Title: {{isHomePage ? 'Home Page' : 'About Page'}} </h1>
<h2>{{subTitle}} </h2> -->

<!-- <p [class]="pageContentClasses()" > Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, hic eos. Natus illo ut vero placeat exercitationem saepe quaerat nostrum? Laborum obcaecati voluptate quaerat omnis praesentium mollitia laboriosam facilis iusto. </p> -->

<!-- 
<p [class.header]="isHeader"  > Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, hic eos. Natus illo ut vero placeat exercitationem saepe quaerat nostrum? Laborum obcaecati voluptate quaerat omnis praesentium mollitia laboriosam facilis iusto. </p> -->

<!-- <p [ngClass]="classes()"  > Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, hic eos. Natus illo ut vero placeat exercitationem saepe quaerat nostrum? Laborum obcaecati voluptate quaerat omnis praesentium mollitia laboriosam facilis iusto. </p> -->
<!-- 


<p [style.fontWeight]="isHeader ? 'bold' : '400'"  >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem, nostrum laborum aspernatur fuga, asperiores voluptatum, et labore in aperiam sequi ipsam quidem. Dignissimos reprehenderit expedita, enim aliquid ad rem autem.</p> -->

<!-- <p [ngStyle]="styles()"  >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem, nostrum laborum aspernatur fuga, asperiores voluptatum, et labore in aperiam sequi ipsam quidem. Dignissimos reprehenderit expedita, enim aliquid ad rem autem.</p>
 -->

<!-- <button (click)="isHeader = !isHeader" >toggle Header State</button> -->

<!-- <input
    #passwordInput
    [type]="showPassword ? 'text' : 'password'"
    [value]="password"
    placeholder="password"
    (keyup)="updatePassword(passwordInput)"
> -->
<!-- 
<input type="text" placeholder="Email"  [(ngModel)]="email">
<input
    #passwordInput
    [(ngModel)]="password"

    [type]="showPassword ? 'text' : 'password'"
    placeholder="password"
    
>
<p>Email: {{email}}</p>
<p>Passwword: {{password}}</p>

<button (click)="togglePasswordView()" > {{showPassword ? 'hide' : 'Show'}} Password</button> -->

<!-- <p>IsLoggedIn: {{isLoggedIn}}</p>

<div *ngIf="!isLoggedIn else userLoggedIn">
    <h1 > Singin </h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus possimus perspiciatis fuga nesciunt optio incidunt dolorum voluptate adipisci quod nam placeat unde, nobis inventore cumque. Et corporis explicabo possimus tenetur?</p>
</div>


<ng-template #userLoggedIn>
    <h1 > Welcome </h1>
    <p>Another Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur repellendus quibusdam sit nesciunt alias minima reiciendis nemo rerum sequi earum praesentium vitae excepturi dolores ea, illo similique beatae saepe qui?</p>
</ng-template>


<button (click)="toggleSigninState()" >Toggle Signin State</button>


<div [ngSwitch]="userType" >
    <h2 *ngSwitchCase="'admin'" > Admin View </h2>
    <h2 *ngSwitchCase="'client'" > Client View </h2>
    <h2 *ngSwitchCase="'publisher'" > Publisher View </h2>
    <h2 *ngSwitchDefault >
        Unknown User Type
    </h2>
</div> -->
<!-- <h1>Todos - list</h1>
<div>
    <input [(ngModel)]="todoTitle"  type="text" placeholder="What To DO ?" >
    <button (click)="addTodo()" >Add</button>
</div>
<ul>
    <li 
        *ngFor="let todo of todos;" 
    >  
        {{todo.title}}
        <button (click)="deleteTodo(todo.id)" >X</button>  
    </li>
</ul> -->


<!-- <h1>String Pipes</h1>


<h2> {{ 'AHMED' | lowercase }} </h2>
<h2> {{ 'welcome' | uppercase }} </h2>
<h2> {{ 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. At cum reprehenderit doloremque perferendis velit consequatur ipsa omnis delectus ad, doloribus illum molestias neque illo consectetur aliquam nobis et minus sint?' | slice:0:60 | titlecase }}... </h2>
<h2> {{classes() | json}} </h2>

 -->
<!-- 
<h1>Number Pipes</h1>

<h2> {{12.344 | number:'1.2-4'}} </h2>
<h2> {{2.344 | number:'2.6-8'}} </h2>
<h2> {{12.34457345243 | number:'2.2-4'}} </h2>
<h2> {{12.34453654 | number:'4.3-5'}} </h2> -->

<!-- <h1>Percentage Pipes</h1>
<h2>{{ 0.5 | percent }}</h2> -->

<!-- <h1>Currency Pipes</h1>
    <h2>{{ 15 | currency:'EGP' }}</h2> -->
<!-- 
<h1>Date Pipes</h1>
<h2>
    {{ date | date}}

</h2> -->



<app-default-bar></app-default-bar>
<div class="container">
    <router-outlet></router-outlet>
</div>
<app-default-footer></app-default-footer>

